.btu{
    height: 35px;
    border-radius: 4px;
    width: 100px;
    background-color: black;
    color:#fff;
    margin-left: 15px;
    margin-right: 15px;
}

.btu:hover{
    border:solid black;
    background-color: #fff;
    color:black
}

.btuConfirm{
  height: 35px;
  border-radius: 4px;
  width: 100px;
  background-color: green;
  color:#fff;
  margin-left: 15px;
  margin-right: 15px;
  border:solid green;
}

.btuConfirm:hover{
  background-color: #fff;
  color:green
}

.btuClose{
  height: 35px;
  border-radius: 4px;
  width: 100px;
  background-color: red;
  color:#fff;
  margin-left: 2.5px;
  margin-right: 2.5px;
  border:solid red;
}

.btuClose:hover{
  background-color: #fff;
  color:red
}


.modal {
    font-size: 12px;
    background-color: #fff;
    width:500px;
    box-shadow: 7px 5px 7px 5px#888888;
    border-radius: 10px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    display: flex;
    align-items: center;
    justify-items: center;
    min-height: 150px;
    /* text-align: right; */
    width: 100%;
    padding: 10px 15px;
    font-size: 25px;
  }
  .content > .contentMsg {
    height: 100%;
    width:100%;
    text-align: right;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background-color: black;
    color:#fff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  .modal > .close:hover {
    border:1px solid black;
    background-color: #fff;
    color:black
  }