.contentContainer{
	width:100%;
	display: flex;
	justify-content: flex-end;
    background-color: #fff;
    padding: 10px;
}

.logContainer{
	width:100%;
	display: flex;
    flex-direction: column;
	justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 10px;
}

.fieldset{
    border: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.label{
    text-align: right;
    margin-left: 5px;
    min-width: 105px;
}

.label2{
    text-align: right;
    margin-left: 5px;
    min-width: 130px;
}

.fileLabel{
    text-align: right;
    margin-left: 5px;
    min-width: 151px;
}

.forms{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.fileUpload{
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.info{
    border: solid 2px black;
    padding: 10px;
}

.btuContainer{
    width: 96%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btu{
    height: 35px;
    border-radius: 4px;
    width: 100px;
    background-color: black;
    color:#fff
}

.btu:hover{
    border:solid black;
    background-color: #fff;
    color:black
}

.opt{
    height: 25px;
    width: 170px;
    font-size: 15px;
    border: solid 1px;
}

.input[type="file"]{
    width: 190px;
    -webkit-appearance: none;
    text-align: left;
    -webkit-rtl-ordering:  left;
 }
 
 .input[type="file"]::-webkit-file-upload-button{
    -webkit-appearance: none;
    float: right;
    /* margin-right: 30px; */
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d2d0d0), to(#f0f0f0));
    background-image: -moz-linear-gradient(90deg, #d2d0d0 0%, #f0f0f0 100%);
 }

 .inputContainer{
    display: flex;
    justify-content: flex-end;
 }

 .userActions {
    margin-right: -10px;
    button {
        border: 0;
        background: none;
        width: 32px;
        height: 32px;
        margin: 0;
        padding: 0;
        margin-left: 0.5em;
        
        svg {
            position: relative;
            top: 2px;
            
            path,
            circle {
                fill: lighten(#99a0b0, 10%);
                transition: fill .15s ease;
            }
        }
        
        &:hover {
            svg {
                path,
                circle {
                    fill: lighten(#1b253d, 10%);
                }
            }
        }
    }
}

.table{
    
    border-collapse: collapse;
}

.th{
    min-width: 150px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.innerTr{
    border-collapse: collapse;
    border-bottom: 0.5px solid black;
}

.innerTr:hover{
    background-color: #ede8f0;
}

.headerTr{
    // border: 1px solid black;
    border-collapse: collapse;
    border-bottom: 4px solid black;
}

.td{
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
